<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>index</key>
			<string>A</string>
			<key>image</key>
			<string>firstname</string>
			<key>title</key>
			<string>your first name</string>
			<key>subtitle</key>
			<string>first name</string>
		</dict>
		<dict>
			<key>index</key>
			<string>B</string>
			<key>image</key>
			<string>lastname</string>
			<key>title</key>
			<string>your last name</string>
			<key>subtitle</key>
			<string>last name</string>
		</dict>
		<dict>
			<key>index</key>
			<string>C</string>
			<key>image</key>
			<string>person</string>
			<key>title</key>
			<string>your user name</string>
			<key>subtitle</key>
			<string>user name</string>
		</dict>
		<dict>
			<key>index</key>
			<string>D</string>
			<key>image</key>
			<string>lock</string>
			<key>title</key>
			<string>create your password</string>
			<key>subtitle</key>
			<string>password</string>
		</dict>
		<dict>
			<key>index</key>
			<string>E</string>
			<key>image</key>
			<string>lock</string>
			<key>title</key>
			<string>confirm your password</string>
			<key>subtitle</key>
			<string>confirm</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>index</key>
			<string>F</string>
			<key>subtitle</key>
			<string>enter your email</string>
			<key>title</key>
			<string>email</string>
			<key>image</key>
			<string>email</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>createAt</key>
			<string>今天 8:23</string>
			<key>mbtype</key>
			<string>lock</string>
			<key>profileImageUrl</key>
			<string>person</string>
			<key>source</key>
			<string>来自：iPhone12</string>
			<key>text</key>
			<string>距离iPhone13发布已经快一个多月的时间了，现在的问题是我该怎么样才能在不怎么花钱的基础上买到自己喜欢的手机和电脑，当然电脑是额外的选项，因为这狗比的显卡是在是太贵了呢</string>
			<key>userName</key>
			<string>冰冰</string>
			<key>cellHeight</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
